<h1>Informações recebidas!</h1>
<p>Em até 48hrs daremos um retorno sobre a abertura de sua conta.</p><br>
<p>Para receber nossas recomendações de investimentros e começar a investir,<br>precisamos de conhecer seu perfil de investidor.</p><br>
<p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p><br>
<p>Gostaria de responder ao Perfil do investidor?</p><br>
<p><button mat-stroked-button (click)="naoResponderPerfil()">Não</button><button mat-stroked-button color = "primary" routerLink = "/profile-form">Sim</button></p> 

